[Unit]
Description=Serviço para enviar peso automaticamente ao iniciar
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Desktop/balanca/enviar_peso.py
WorkingDirectory=/home/pi/Desktop/balanca
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target